header {
    
    background: $background-header;
    height: 80px;
    border-bottom: solid 4px gold;
    
    h1 {
        
        text-align: center;
        color: $color-secondary;
    }
    
    nav.navigation {
        
        display: block;
        padding: 20px auto;
        /* width: 13%; */
        text-align: center;
        
        li {
            
            height: auto;
            
            display: inline-block;
            
            a {
                
                color: $color-nav;
                
                &:hover {
                    
                    text-decoration: none;
                }
            }
        }
    }
    
}