// Blog Design Colour Scheme: #1

$background-main: black;
$background-secondary: black;
$background-pagination: yellow;
$background-blog-entry: #ffff57;
$background-code-snippet: none;
$background-post-entry: #f5c7a6;
$background-page: #f5c7a6;
$background-single: #f5c7a6;

$font-main: "Quicksand";

$color-main: lightblue;
$color-secondary: white;
$color-nav: gold;

// link colours
$color-href: red;
$color-href-hvr: green;

$color-href-two: green;
$color-href-two-hvr: red;

$color-href-three: #3a3a05;
$color-href-three-hvr: #bd330a;

// main pagininaton link colours
$color-pagination: blue;
$color-pagination-href: red;
$color-pagination-href-hvr: green;

// breakpoints
$breakpoint-sm: 780px;
