// Blog Design Colour Scheme: #1


$background-header: black;
$background-footer: $background-header;

$background-post-entry: #f5c7a6;
$background-post-entries: yellow;
$background-category-list: #f2f7c4;
$background-comment-entries: #ade8f1;
$background-comment-field: #f7f7ab;

$bg-search-input: wheat;
$bg-search-btn: wheat;
$bg-searchwidget-input: #ffff8e;
$bg-searchwidget-btn: #ffff8e;

$background-body: lightblue;
$background-widget: #f7f7ab;
$background-page: #f5c7a6;

$font-main: "Quicksand";

$color-main: lightblue;
$color-secondary: white;
$color-nav: gold;
$color-required: red;

// link colours
$color-href: red;
$color-href-hvr: green;

$color-href-two: green;
$color-href-two-hvr: red;

$color-href-three: #3a3a05;
$color-href-three-hvr: #bd330a;

// main pagininaton link colours
$color-pagination-href: red;
$color-pagination-href-hvr: green;


// fonts

$font-main: "Quicksand";

$font-size-xl: 32px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 12px;

// breakpoints
$breakpoint-sm: 780px;
