// Blog Design Colour Scheme: #1
$background-header: black;
$background-footer: $background-header;

$bg-post-entry: #f5c7a6;
$bg-post-entries: yellow;
$bg-category-list: #f2f7c4;
$bg-comment-entries: #ade8f1;
$bg-comment-field: #f7f7ab;
$bg-template-title: gray;
$bg-hcb-code: #ededbc;

$bg-search-input: wheat;
$bg-search-btn: wheat;
$bg-searchwidget-input: #ffff8e;
$bg-searchwidget-btn: #ffff8e;

$bg-body: lightblue;
$bg-widget-areas: #77d9f9;
$bg-page: #f5c7a6;


$color-main: black;
$color-secondary: white;
$color-placeholder: gray;
$color-nav: gold;
$color-required: red;
$color-info: red;
$color-hcb: black;

$post-formatting-strong: darkgreen;
$post-formatting-em: #fd1c44;
$post-formatting-lists: brown;
$post-formatting-code: #444444;

// link colours
$color-href: red;
$color-href-hvr: green;

$color-href-two: green;
$color-href-two-hvr: red;

$color-href-three: #3a3a05;
$color-href-three-hvr: #bd330a;

// main pagininaton link colours
$color-pagination-href: red;
$color-pagination-href-hvr: green;


// fonts

$font-main: "Quicksand";

$font-size-xl: 32px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 12px;

$font-size-vw: 5vw;

// breakpoints
$breakpoint-sm: 780px;
