// BACKGROUNDS

// File Markers
%page_title {
    
    display: block;
    background: $bg-template-title;
    text-align: center;
    padding: 5px;
    color: $color-secondary;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}

// Post and Archive Entries
%post_entries {
            
    display: block;
    border: solid black 2px;
    background: $bg-post-entry;
    color: $color-main;
    padding: 15px;
    margin: 15px auto;
    width: 50%;
    transition: background .3s;
    
    &:hover {
        
        background: lighten($bg-post-entry, 6%);
    }
    
    p {
        margin-top: 10px;
    }
}

// Widget Areas
%widget_areas {
    
    display: block;
    /* border: solid black 2px; */
    background: $bg-widget-areas;
    border-radius: 10px;
    margin: 20px auto;
    width: 50%;
    padding: 15px;
}

// Text Colour Schemes
%link-colscheme-1 {
    
    a {
        
        color: $color-href;
        font-weight: bold;
        transition: color .3s;
        
        &:hover {
            
            color: $color-href-hvr;
            
        }
    }
}


// FORM FILELDS

// post comments button
%comment_textarea {  
    
    border: solid 3px black;
    background: $bg-comment-field;         
    padding: 8px;
    margin: 10pt 0;
    transition: background .3s;    
    font-family: $font-main;
    font-size: $font-size-md;
    
    &:hover {
        
       background: lighten( $bg-comment-field, 6% );
    }
    
    &::placeholder {
        
        color: gray;
    }
    
}

%comment_btn {                      
    
    border: solid 3px black;
    background: $bg-comment-field;
    padding: 10px;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: $font-size-md;
    margin: 10pt 0;
    transition: background .3s;
    cursor: pointer;    
    
    &:hover {
        
       background: lighten( $bg-comment-field, 6% );
    }
}


// Search Buttons
%search_btn {
    
    border: solid 3px black;
    background: $bg-search-btn;
    width: auto;
    padding: 5px;  
    transition: background .3s; 
    font-size: 14pt;
    font-family: "Quicksand";
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
        
        background: lighten($bg-search-btn, 10%);
    }
    
    &:focus {
        
        border: solid gold 3px;
    }
    
}

%search_btn_widget {
    
    border: solid 3px black ;
    background: $bg-searchwidget-btn;
    padding: 3px;
    border-radius: 5px;
    font-size: 14pt;
    font-family: $font-main;
    font-weight: bold; 
    width: 56px;
    transition: background .3s;
    cursor: pointer;   
    
    &:hover {
        
        background: lighten($bg-searchwidget-btn, 10%);
    } 
    
    &::placeholder {
        
        color: gray;
        font-family: $font-main;
    }
    
    &:focus {
        
        border: gold 3px solid;
    }
}

// Search Input Field Styles
%search_input {    
    
    border: solid 3px black;
    background: $bg-search-input;   
    padding: 6px;
    border-radius: 5px;
    transition: background .3s;
    font-size: 14pt;
    font-family: "Quicksand"; 
    
    &:hover {
        
        background: lighten($bg-search-input, 10%);
    }
    
    &:focus {
        
        border: solid gold 3px;
    }
    
}

%search_input_widget {

    border: solid 3px black;
    background: $bg-searchwidget-input; 
    padding: 10px;
    border-radius: 5px;
    font-size: 14pt;
    font-family: $font-main;
    transition: background .3s;
                        
    &:hover {

        background: lighten($bg-searchwidget-input, 10%);
    }
    
    &::placeholder {
        
        color: $color-placeholder;
        font-family: $font-main;
    }
    
    &:focus {
        
        border: gold 3px solid;
    }
}

// WordPress Post/Page Formatting
%post_formatting {
         
    display: block;
    border: solid 3px black;           
    background: $bg-page;
    margin: 15px auto;
    padding: 10px;
    width: 75%;
    border-radius: 10px;
    
    @media (max-width: $breakpoint-sm) {
        
        width: 90%;
    }
    
    
    // ?????
    .blog_post_container {
        
        
    }
    
  
    // page.php formatting selectors
    h1,
    h2,
    h3, 
    h4, 
    h5, 
    h6 {

        display: block;
        margin: 0 auto;
        margin: 5px auto;
        margin-top: 10pt;
        width: 90%;
        letter-spacing: 0px;
    }
    
    .post_content_title,
    .page_content_title {
        
        text-align: center;
        letter-spacing: 1px
    }
    
    h3 {
        
        text-align: center;
        text-align: left;
    }
    
    span {
        
        display: block;
        font-weight: bold;
        text-align: center;    
        /* color: red; */
    }
    
    strong, b {

        color: $post-formatting-strong;
    }

    em, i {

        color: $post-formatting-em;
    }

    ul, ol {

        width: 90%;
        margin: 0 auto;
        padding: 10pt 0;
        color: $post_formatting-lists;

        li {

            list-style: none;
        }

    }

    // empty
    ul {

    }

    // empty
    ol {

    }
    
    p {

        line-height: 1.7;  
        width: 90%;
        display: block;
        margin: 0 auto;
        font-size: $font-size-md;
        
        s {
            text-decoration: line-through;
        }
        
        img {
            
            display: block;
            border: solid 3px black;
            margin: 10px auto;
            border-radius: 10px;
        }
    }
    
    /* setting inline-code */
    code {
        
        color: $post-formatting-code;      
    }
    
    sub {
        
        color: $post-formatting-code;      
    }
    
    sup {
        
        color: $post-formatting-code;      
    }
    
    .kdb {
        
        color: $post-formatting-code;
    }
    
    .has-text-align-center {
        
        text-align: center;
    }
    
    .has-text-align-left {
        
        text-align: left;
    }
    
    .has-text-align-right {
        
        text-align: right;
    }

    // image block
    .wp-block-image {
        
        display: block;
        /* border: solid 2px black; */
        margin: 0 auto;

        @media (max-width: $breakpoint-sm) {

            width: 90%;
        }
        
        figure {
            
            text-align: center;            
        }        
        
        &.alignleft {
            
            margin: 0 auto;
            text-align: left;
        }
        
        &.aligncenter {
            
            margin: 0 auto;
            text-align: center;
        }
        
        &.alignright {
            
            margin: 0 auto;
            text-align: right;
        }
        
        img {
            
            display: block;
            border: solid gold 3px;
            width: 430px;
            margin: 10px auto;
            
            @media (max-width: $breakpoint-sm) {
                
                width: 90%;
            }
            
        }        
        
    }
    
    .wp-block-media-text {
        
        border: solid red 1px;
        text-align: center;
        
        .wp-block-media-text__media {
            
            img {
                
                width: 30%;
                
                @media(max-width: $breakpoint-sm) {
                    
                    width: 50px;
                }
            }
        }
    }
    
    .wp-block-cover {
        
        border: black solid 2px;
        
    }
    
    .wp-block-verse {
        
        border: black solid 2px;
        margin-top: 20px;
        text-align: center;
        
    }
    
    .wp-block-pullquote {
        
        border: black solid 2px;
        padding: 0;
        margin: 10pt 0;
        
        blockquote {
            
            p {
                
            }
            
            cite {
                
                font-size: 12px
            }
        }
    }
    
    .wp-block-table {
        
        border: black solid 2px;
        
        table {
            
            tbody {
            
                tr {

                    td {

                    }
                }
            }
        }
    }
    
    .wp-caption {
        
        display: block;
        width: 90%;
        margin: 10pt auto;
        
    }
    
    // Highlighting Code Block - WP Block
    .hcb_wrap {
                
        display: block;
        border: black solid 2px;
        width: 40%;
        margin: 20px auto;
        
        .hcb-clipboard {
            
        }
        
        pre {
            
            display: block;
            
            code {
                
                display: inline-block;
                color: inherit;
                
                
                span.line-numbers-rows {
                    
                    display: block;
                }
                
                span {
                    
                    display: inline-block; 
                    
                    span {
                        
                        display: block;
                    }
                    
                }
            }
        }        
        
    }   
    
    // inline-block    
    :where(img[class*=wp-image-]) {

        border: solid white 3px;
    }
    
    // page formatting - wp-block-image    
      
    .post_contents {
        
        color: $color-main;
        margin: 15pt 0;
        
        h1,
        h2,
        h3, 
        h4, 
        h5, 
        h6 {
            
            display: block;
            color: $color-main;
            font-size: $font-size-md;
            width: 90%;
            text-align: left;
            background: none;
            letter-spacing: 0px;
        }
        
        h3.post_content_title {            
            
            text-align: center;
            margin: 10px auto;
            border-bottom: red solid 4px;
        }
        
        h3 {
            
            /* display: inline-block; */
            text-align: left;
            width: 90%;

            span {

                display: block;
                font-weight: bold;
                text-align: center;    
                color: $color-info;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        
        // Highlighting Code Block - WP Block (Single Posts)
        .hcb_wrap {
        
            display: block;
            border: black solid 2px;
            width: 90%;
            margin: 20px auto;

            .hcb-clipboard {

            }
        
            pre {
            
                display: block;
            
                code {

                    display: inline-block;
                    color: inherit;


                    span.line-numbers-rows {

                        display: block;
                    }

                    span {

                        display: inline-block; 

                        span {

                            display: inline-block;
                        }

                    }
                }
            }        
        
        }    
    
    }
    
    figure {

            img {

                display: block;
                border: solid 3px black;
                width: 60%;
                margin: 10px auto;
                border-radius: 5px;

                @media (max-width: $breakpoint-sm) {

                    width: 90%;
                }


            }

            &.alignleft,
            &.aligncenter,
            &.alignright {

            }
        }
    
}

// [empty]
%page_formatting {
    
}

// [empty]
%content_formatting {
    
}
