%page_title {
    
    display: block;
    text-align: center;
    padding: 5px;
    background: gray;
    color: white;
    font-size: small;
    font-weight: bold;
    letter-spacing: 2px;
}

%post_entries {
            
    color: black;
    border: solid black 2px;
    display: block;
    padding: 15px;
    margin: 15px auto;
    width: 75%;
    background: $background-post-entry;
    transition: background .3s;
    
    &:hover {
        
        background: lighten($background-post-entry, 6%);
    }
}

%page_formatting {
    
    
}

%post_formatting {
    
    border: solid 2px red;
                
    background: yellow; 
    background: $background-page;
    display: block;
    margin: 15px auto;
    padding: 10px;
    width: 75%;
    border-radius: 10px;
    border: solid 3px black;

    h1,
    h2,
    h3, 
    h4, 
    h5, 
    h6 {

        margin-top: 10pt;
    }

    strong, b {

        color: darkgreen;
    }

    em, i {

        color: 6e0e1f;
    }

    ul, ol {

        padding-left: 10px;
        padding-top: 20pt;

        li {

            list-style: none;
        }

    }

    ul {

    }

    ol {

    }

    p {

        line-height: 1.7;  
        width: 90%;
        display: block;
        margin: 0 auto;
        
        s {
            text-decoration: line-through;
        }
        
        img {
            
            display: block;
            margin: 0 auto;
            border-radius: 10px;
            border: solid 3px black;
        }
    }
    
    .has-text-align-center {
        
        text-align: center;
    }
    
    .has-text-align-left {
        
        text-align: left;
    }
    
    .has-text-align-right {
        
        text-align: right;
    }

    .wp-block-image {

        @media (max-width: $breakpoint-sm) {

            width: 90%;
        }
        
        // style - post formatting - wp-block-image        
        
        div {
            
        }
    }
    
    // page formatting - wp-block-image
}

%link-colscheme-1 {
    
    a {
        
        color: $color-href;
        font-weight: bold;
        transition: color .3s;
        
        &:hover {
            
            color: $color-href-hvr;
            
        }
    }
}

%search_btn {
    
    background: wheat;
    width: auto;
    border: solid 3px black;
    padding: 7px;  
    transition: background 0.3s; 
    cursor: pointer;
    
    &:hover {
        
        background: lightyellow;
    } 
}

%search_btn_widget {
    
    background: yellow;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;    
    width: auto;
    border: solid black 3px;
}

%search_input {    
    
    padding: 7px;
    border-radius: 5px;
    transition: background 0.3s;
    border: solid 3px black;
    font-size: 12px;
    background: wheat;    
    
    &:hover {
        
        background: lightyellow;
    }
}

%search_input_widget {

    border: solid 3px black;
    padding: 10px;
    border-radius: 5px;
    font-size: 14pt;
    transition: background .3s;
    background: yellow;
    border: solid 3px black;
                        
    &:hover {

        background: lightyellow;
    }
}