
/* hcb.scss - partial file */

/* 
.hcb_wrap {

    .hcb-clipboard {
        
        background: #ededbc;        
        
        &::before {
            
            color: red;
        }
        
    }
    
    pre.prism {
        
        &::before {
            
            background: #ededbc;
        }
        
        text-align: left;

        code {
            
            span {
                
                text-align: left;
                display: inline-block;
            } 
            
        }
        
    }
    
} */
