
/* hcb.scss */
.hcb_wrap {

    .hcb-clipboard {}
    
    pre.prism {
        
        text-align: left;

        code {
            
            span {
                
                text-align: left;
                display: inline-block;
            }
            
        }
        
    }
    
}
