/* main.scss - starts here */ 

body {
    
    background: $color-main;
    font-family: $font-main;
    
    section {
        
        .primary {                   
            
            display: inline-block;
            width: 65%;
            vertical-align: top;
            
            @media (max-width: $breakpoint-sm)
            {
                
                width: auto;
            }
            
            span.post_headline {

                @extend %page_title;
            }       
            
            h2 {
            }
            
            .pagination {
                
                display: block;
                margin: 10px auto;
                border: solid red 1px;
                padding: 10px;
                background: yellow;
                text-align: center;
                width: 70%;
                
                @extend %link-colscheme-1;
                
                .current {
                    
                    font-weight: bold;
                }
            }
            
            .entry {
                
                display: block;
                margin: 10px auto;
                border: solid red 1px;
                padding: 10px;
                width: 70%;
                
                background: yellow;
                transition: background .3s;
                
                &:hover {
                    background: lightyellow;
                }
                
                h3 {
                    
                    text-align: center;
                    
                    @extend %link-colscheme-1;
                    
                    span {
                        
                        display: inline-block;
                        font-size: 10px;
                        font-style: italic;
                        
                    }
                }
                
                p {
                    
                    padding: 10px 0;
                }
            }
        }
        
        .secondary {
            
            display: inline-block;
            width: 30%;
            
            @media (max-width: $breakpoint-sm) {
                
                width: auto;
            }
            
            h2 {
                
                
            }
            
            aside {
                
            }
            
            .widget_area {
                
                border: solid red 1px;
                padding: 10px 10px;                
                background: yellow;
                transition: background .3s;
                margin: 10px 0;
                
                &:hover {
                    
                    background: lightyellow;
                }
                
                h3,
                label {
                    
                    margin-bottom: 10pt;
                    font-weight: bold;
                    font-size: 14pt;
                }
                
                li {
                    
                    list-style: none;
                    
                    @extend %link-colscheme-1;
                }
                
            }
            
        }
        
    }
    
    
    .section_single,
    .section_page,
    .section_archive, 
    .section_author, 
    .section_category {
        
        h2 {
            
            @extend %page_title;
        }
        
        @extend %link-colscheme-1;
        
    }
}

