/* styles.scss - starts here */ 

body {
    
    background: $color-main;
    font-family: $font-main;
    
    section {
        
        .primary {
            
            
            display: inline-block;
            width: 50%;
            vertical-align: top;
            
            h2 {
                
                span {
                    
                    @extend %page_title;
                }
            }
            
            .pagination {
                
                display: block;
                margin: 10px auto;
                border: solid red 1px;
                padding: 10px;
                background: yellow;
                text-align: center;
                width: 70%;
            }
            
            .entry {
                
                display: block;
                margin: 10px auto;
                border: solid red 1px;
                padding: 10px;
                width: 70%;
            }
        }
        
        .secondary {
            
            display: inline-block;
            width: 40%;
            
            h2 {
                
                
            }
            
            aside {
                
            }
            
        }
    }
}

