/* page.scss */

body {
    
    .section {

        .page {

            h3.post_headline {

                @extend %page_title;
            }
            
            @extend %link-colscheme-1;
            
            .page_container {
                
                @extend %post_formatting;
                
                .page_content_title {
                    
                    text-align: center;
                }
                
            }
            
            figure {

                img {

                    display: block;
                    width: 35%;
                    margin: 10px auto;
                    border: solid 3px black;
                    border-radius: 5px;
                    
                    @media (max-width: $breakpoint-sm) {
                        
                        width: 90%;
                    }
                }

                &.alignleft,
                &.aligncenter,
                &.alignright {

                }
            }
            
        }

    }
    
}