.section_single {
    
    display: block;    
    
    article.single {
        
        width: 760px;
        display: block;
        margin: 0 auto;
        
        @media ( max-width: $breakpoint-sm ) {
            
            width: 90%;
        }
    
        .post_headline {
            
            text-align: center;
            padding: 5px;
            background: gray;
            color: white;
            font-size: small;
            letter-spacing: 2px;
        }
        
        .link_home {
            
            color: $color-href;
            transition: color .2s;
            font-weight: bold;
            
            &:hover {
                
                color: $color-href-hvr;
            }
        }
        
        .the_category_list {
            
            border: solid 2px red;
            border-radius: 10px;
            text-align: center;
            background: #f2f7c4;
            margin: 5px auto;
            
            h2 {
                
                font-size: 10pt;
            }
            
            a {
                font-size: 10pt;
                
                color: black;
                transition: .2s color;                
                
                &:hover {
                    
                    color: gold;
                }
            }
        }
        
        // single.php
        .blog_post_container {            
            
            border: solid 2px red;
            
            .posts-toggling {
                
                a {
                    
                    font-weight: bold;
                    color: red;
                    transition: .2s color; 
                    
                    &:hover {
                        
                        color: green;
                    }
                }
            }
        }
    }
}