.section_single {
    
    display: block;    
    
    article.single {
        
        width: 760px;
        display: block;
        margin: 0 auto;
        
        @media ( max-width: $breakpoint-sm ) {
            
            width: 90%;
        }
    
        .post_headline {
            
            text-align: center;
            padding: 5px;
            background: gray;
            color: white;
            font-size: small;
            letter-spacing: 2px;
        }
        
        .link_home {
            
            color: $color-href;
            transition: color .2s;
            font-weight: bold;
            
            &:hover {
                
                color: $color-href-hvr;
            }
        }
        
        .the_category_list {
            
            border: solid 2px red;
            border-radius: 10px;
            text-align: center;
            background: $background-category-list;
            margin: 5px auto;
            
            h2 {
                
                font-size: 10pt;
            }
            
            a {
                font-size: 10pt;
                
                color: $color-href-two;
                transition: .2s color;                
                
                &:hover {
                    
                    color: $color-href-two-hvr;
                }
            }
        }
        
        // single page comments area
        .comment-respond {
            
            margin-top: 20px;
            text-align: center;
            
            h3 {
                
                font-size: 13pt;
            }
            
            .comment-form {
                
                /* border: solid 1px red; */
                
                .logged-in-as {
                    
                    font-weight: bold;
                    font-size: 12px;
                    
                    a {
                        
                    }
                    
                    .required-field-message {
                        
                        /* color: red; */
                        
                        .required {
                            
                            color: $color-required;
                            
                        }
                    }
                }
                
                .comment-form-comment {
                    
                    /* border: solid red 1px; */
                    margin-top: 10px;
                    
                    label {
                        
                        font-weight: bold;
                        
                        .required {
                            
                            color: $color-required;
                        }
                        
                    }
                    
                    #comment {                        
                        
                        vertical-align: top;
                        padding: 5px 10px;
                        
                        @extend %comment_textarea;
                        
                    }
                }
                
                .form-submit {
                    
                    .submit {
                        
                        @extend %comment_btn;
                        
                    }
                }
            }
            
        }      
        

        .comments-area {
            

            h3.comments-title {
            
                text-align: center;
            }
                
            

            .pagination {
                
                background: #ade8f1;
                border-radius: 10px;
            }
            
            .navigation, 
            .comment-navigation {
                
                display: none;
            }

            .comment-list {
                
                list-style:none;
                
                /* border: solid red 1px; */
                
                .comment,
                .byuser {
                                
                            
                    &.depth-2 {

                        padding-left: 20pt;
                    }

                    &.depth-3 {

                        padding-left: 40pt;

                    }
                
                    .comment-body {
                        
                        font-size: 12pt;
                        margin: 10px 0;
                        background: #ade8f1;
                        padding: 5px;
                        border-radius: 10px;
                        
                        .comment-author {
                            
                            img {
                                
                                width: 45px;
                                height: 45px;
                                border: solid gold 2px;
                                border-radius: 50%;
                                
                            }
                            
                            .fn {
                                
                                display: inline-block;
                                vertical-align: top;
                                
                                a {
                                    
                                }
                            }
                            
                            .says {
                                
                                display: inline-block;
                                vertical-align: top;
                                
                            }
                        } 

                        .comment-meta {
                            
                            display: inline-block;
                            width: auto;
                            margin-left: 25px;
                            
                            a {
                                
                            }
                            
                            a.comment-edit-link {
                                
                            }

                        }

                        p {
                            
                            margin-left: 25px;
                            padding: 20px 0;
                            font-weight: bold;

                        }

                        .reply {
                            
                            display: inline-block;
                            width: auto;

                            a.comment-reply-link {

                            }
                             
                        }

                        .children {
                            
                            li {
                            }
                            
                            li {
                                
                                .comment-body {
                                    
                                }
                                
                                .children {
                                    
                                    .comment {
                                        
                                        .comment-body {
                                            
                                            .comment-author {
                                                
                                                img {
                                                    
                                                }
                                                
                                                .fn {
                                                    
                                                }
                                                .says {
                                                    
                                                }
                                            }
                                        }
                                    }
                                }
                            }                            
                        }    
                    }   
                }    
            }
        }        
    }

        
        
        
    // single.php
    .blog_post_container {            

        @extend %post_formatting;        

    }

    .author_details {

        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }            

    .posts-toggling {
        
        text-align: center;
        margin: 8pt auto;

        a {

            font-weight: bold;
            color: red;
            transition: .2s color; 

            &:hover {

                color: green;
            }
        }
    }   

}